@import 'tailwindcss';

/* Hide scrollbar for clean UI */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@theme {
  --color-brand-50: '#f0f9ff';
  --color-brand-100: '#e0f2fe';
  --color-brand-500: '#0ea5e9';
  --color-brand-600: '#0284c7';
  --color-brand-900: '#0c4a6e';

  --shadow-glass-3d: '0 0 0.75px hsl(205 20% 10% / 0.2), 0.7px 0.8px 1.2px -0.4px hsl(205 20% 10% / 0.1), 1.3px 1.5px 2.2px -0.8px hsl(205 20% 10% / 0.1), 2.3px 2.6px 3.9px -1.2px hsl(205 20% 10% / 0.1), 3.9px 4.4px 6.6px -1.7px hsl(205 20% 10% / 0.1), 6.5px 7.2px 10.9px -2.1px hsl(205 20% 10% / 0.1), 8px 9px 14px -2.5px hsl(205 20% 10% / 0.2)';
  --inset-shadow-glass-3d: 'inset 2px 2px -3px hsl(248,7%,9%), inset -4px -4px -6px hsl(34,7%,9%), inset -4rem -4rem -6rem hsl(34,7%,9%), inset -4rem -4rem -6rem hsl(34,7%,9%)';

  --animation-pulse-slow: 'pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite';
}

@layer base {
  body {
    @apply overscroll-none bg-[#0f172a] text-white;
  }
}
